@import "variables.scss";
@import "first-page.scss";
@import "info-block.scss";
@import "slider-block.scss";

body {
  max-width: 100vw;
  background-color: $color-black;
  color: $color-primary;
  font-size: $fs-m;
  font-family: $font-family, sans-serif;
}

.container {
  margin-top: -140px;
  padding: 0 230px;
}
